<p id="notice"><%= notice %></p>
<% @movie.instance_variables.each do |iv| %>
  <p>
  <strong><%= iv.to_s[1..-1].capitalize %></strong>
  <%= raw data_geusser( @movie.send( iv.to_s.gsub('@','') ) )%>
<% end %>

<br />
<%= link_to 'Back', movies_path(:q=>@q) %>
